<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LLMExample"
        tools:targetApi="31"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- Main Entry Point -->
        <activity
            android:name="MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LLMExample.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Flow -->
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.LLMExample.NoActionBar" />

        <activity
            android:name=".activity.SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.LLMExample.NoActionBar" />

        <!-- Topic Selection -->
        <activity
            android:name=".activity.TopicSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.LLMExample.NoActionBar" />

        <!-- Main App Flow -->
        <activity
            android:name=".activity.DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.LLMExample.NoActionBar"
            android:launchMode="singleTop"/>

        <!-- Quiz Flow -->
        <activity
            android:name=".activity.QuizActivity"
            android:exported="false"
            android:theme="@style/Theme.LLMExample.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ResultsActivity"
            android:exported="false"
            android:theme="@style/Theme.LLMExample.NoActionBar" />

    </application>

</manifest>